.flex-container {
    display: flex;
    height: 400px;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.flex-child:last-child {
    padding: 20px;
    text-align: justify;
}

img {
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
}