body {
    background-image: url('../media/bush.png');
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    padding: 20px;
}

nav a {
    padding: 20px;
    text-decoration: none;
}

.nav-right {
    float: right;
}

header {
    text-align: center;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer a {
    margin-left: 80px;
    margin-right: 80px;
    text-decoration: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
    margin-top: 30px;
}

.card {
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.card-text {
    padding: .5rem;
}

.card-text a {
    text-decoration: none;
}

img {
    float: left;
    width:  100%;
    height: 70%;
    object-fit: cover;
}

@media only screen and (max-width: 434px) {
    .nav-right {
        float: left;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1135px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
}